<div class="container">
  <div class="row" style="padding: 16rem 27rem 0 27rem;">
    <div class="col">
      <mat-card>
        <mat-card-title class="text-center">Login</mat-card-title>
        <hr>
        <mat-card-content>
          <form class="example-form" [formGroup]="userForm">
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. test" formControlName="email" required="">
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Ex. ******" formControlName="password" required="">
            </mat-form-field>
            <div class="row">
              <div class="col text-center">
                <button type="submit" mat-raised-button color="primary" (click)="submit()" [disabled]="userForm.invalid">Submit</button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col text-center">
                <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Click to register</a>
              </div>
            </div>
          </form>
        </mat-card-content>
        <hr>
        <mat-card-footer class="text-center">&reg; &copy;</mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
