.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.w3schools.com/howto/img_avatar.png');
    background-size: cover;
  }
  @media (max-width: 576px) {
    mat-card-subtitle,mat-card-content{
      font-size: large;
    }
  }
  @media (max-width: 992px) {
    mat-card-subtitle,mat-card-content{
      font-size: large;
    }
  }
