<mat-drawer-container class="example-container w-100" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" opened>
    <div class="row d-nonec">
      <div class="col pt-5" style="padding-left: 3.5rem !important;">
        <img [src]="url ? url : '../assets/loading-gif-png-5.gif'" class="" style="max-width:60%; height: auto;" alt="">
      </div>
    </div>
    <div class="row d-nonec">
      <div class="col pt-2 text-center">
        <h2>{{userInfo.username}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding-right: 0 !important;">
        <mat-list>
          <div mat-subheader class="d-nonec">Menus</div>
          <mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <mat-icon mat-list-icon>home</mat-icon>
            <div mat-line class="d-nonec">Home</div>
          </mat-list-item>
          <mat-list-item [routerLink]="['favourite']" routerLinkActive="router-link-active" >
            <mat-icon mat-list-icon>bookmark</mat-icon>
            <div mat-line class="d-nonec">Favourite</div>
          </mat-list-item>
          <mat-list-item [routerLink]="['users']" routerLinkActive="router-link-active" >
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <div mat-line class="d-nonec">User</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
    <mat-toolbar color="primary">
      <div class="row w-100">
        <div class="col">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>News App</span>
          <span class="example-spacer"></span>
        </div>
        <!-- <div class="col text-end">
          <span>{{userInfo.username}}</span>
        </div> -->
        <div class="col-1 text-end">
          <div class="row">
            <div class="col">
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <app-pages></app-pages>
    <!-- <router-outlet></router-outlet> -->
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
