<div class="container">
  <div class="row" style="padding: 10rem 27rem 0rem 27rem;">
    <div class="col">
      <mat-card>
        <mat-card-title class="text-center">Register</mat-card-title>
        <hr>
        <mat-card-content>
          <form class="example-form" [formGroup]="userForm">
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>First Name</mat-label>
              <input type="text" matInput placeholder="Ex. test" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput placeholder="Ex. t" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Ex. test123" formControlName="username" required>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. test" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="example-full-width w-100" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Ex. ******" required formControlName="password">
            </mat-form-field>
            <div class="row">
              <div class="col text-center">
                <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="submit()">Submit</button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col text-center">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Click to login</a>
              </div>
            </div>
          </form>
        </mat-card-content>
        <hr>
        <mat-card-footer class="text-center">&reg; &copy;</mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
